@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}
body {
  font-family: "Pretendard";
}
* {
  margin: 0;
  padding: 0;
  /* paddign&border영향없음 */
  box-sizing: border-box;
}
/* header 영역 */
header {
  width: 1200px;
  height: 150px;
  background: antiquewhite;
  margin: 0 auto;
  /* 아래에 배치된 요소를 옆으로 배치 */
  display: flex;
  justify-content: space-between;
  /* 부모 요소 기준으로 위아래 가운데 정열 */
  align-items: center;
}
/* search 영역 */
header .search {
  width: 350px;
  height: 60px;
  background: red;
}
/* logo 영역 */
header .logo {
  width: 350px;
  height: 70px;
  background: fuchsia;
}
/* 로그인&메뉴 합친 영역 */
header .right {
  width: 350px;
  height: 90px;
  background: hotpink;
}
#slider {
  width: 100%;
  height: 450px;
  background: blueviolet;
}
main {
  width: 1200px;
  /* 최소 높이는 600px */
  min-height: 600px;
  /* background: chartreuse; */
  margin: 0 auto;
}
main .banchan {
  width: 100%;
  /* height: 1256px; */
  /* border: 5px solid #000; */
  padding: 50px 16px 16px;
}
main .banchan .tit {
  text-align: center;
}
main .banchan .tit h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
main .banchan .tit p {
  font-size: 16px;
  font-weight: 500;
  color: #636363;
}

/* 제품 박스 8개 나열 */
main .banchan .product {
  width: 100%;
  /* 자식요소 옆으로 배치 */
  display: flex;
  /* 카드와 카드 사이 gap */
  gap: 16px;
  /* 부모요소 기준으로 초과시 줄바꿈 */
  flex-wrap: wrap;
  margin-top: 41px;
}
main .banchan .product .card {
  width: 280px;
  height: 532px;
  /* background: blue; */
}
main .banchan .product .card .imgbox {
  width: 100%;
  height: 370px;
}
main .banchan .product .card .imgbox img {
  width: 100%;
  height: 100%;
  /* 이미지 왜곡 발생하지 않게 가로X세로 비율*/
  object-fit: cover;
  /* object-fit: contain; */
}
/* 카드의 정보(info) */
main .banchan .product .card .info {
  padding: 16px 8px;
}
main .banchan .product .card .info .new {
  font-size: 12px;
  color: #ca504c;
  background: #f5dede;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
}
main .banchan .product .card .info h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin-top: 16px;
}
main .banchan .product .card .info p {
  font-size: 16px;
  color: #848484;
  margin-top: 16px;
}
main .banchan .product .card .info h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin-top: 16px;
}
main .banchan .product .card .info h4 .sale {
  color: #c53e3a;
}
main .banchan .product .card .info .price {
  font-size: 14px;
  color: #848484;
  font-weight: 600;
  /* 취소선 */
  text-decoration: line-through;
}

main .day-banchan {
  width: 100%;
  height: 600px;
  border: 5px solid blue;
}
main .new-banchan {
  width: 100%;
  height: 1000px;
  border: 5px solid red;
}
main .banner {
  width: 100%;
  height: 200px;
  border: 5px solid yellow;
}
main .md-banchan {
  width: 100%;
  height: 1000px;
  border: 5px solid purple;
}
/* footer영역 */

footer {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background: darkgoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-left {
  width: 385px;
  height: 125px;
  background: indianred;
}
footer .footer-right {
  width: 775px;
  height: 125px;
  background: khaki;
}
